<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{#links.breadcrumbs}}
    <li class="breadcrumb-item {{#active}}active{{/active}}" {{#active}}aria-current="page"{{/active}}>
      {{#active}}{{name}}{{/active}}
      {{^active}}<a href="{{url}}">{{name}}</a>{{/active}}
    </li>
    {{/links.breadcrumbs}}
  </ol>
</nav>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h6 class="display-4">{{place.name}}</h6>
  <h1 id="domainName" class="text-break text-wrap">{{place.domain}}</h1>
</div>

<div class="container-fluid">
  <div class="col-md-12" id="map"></div>
</div>


<div class="container-fluid">
  {{#links.google}}
  <a class="btn btn-primary" href="{{directions}}" role="button">Get Directions</a>
  <a class="btn btn-outline-secondary" href="{{point}}" role="button">Open in Google</a>
  {{/links.google}}
  <button id="liveMode" type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Live Update
  </button>
</div>

{{#isCollection}}
<div id="collection" class="container-fluid">
  <h5>Collection</h5>
  <ul>
    {{#collection}}
      <li><a href="http://{{domain}}">{{domain}}</a></li>
    {{/collection}}
  </ul>
</div>
{{/isCollection}}

{{#hasProperties}}
<div class="container-fluid">
  <h4>Properties</h4>
  <table class="table">
    <tbody>
      {{#properties}}
        <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
      {{/properties}}
    </tbody>
  </table>
</div>
{{/hasProperties}}

<div class="row justify-content-end">
  <p>
    <button id="developersButton" class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#developerSection" aria-expanded="false" aria-controls="developerSection">
      Developers
    </button>
  </p>
</div>
<div class="collapse" id="developerSection">
  <div class="card card-body">
    <h5 class="card-title">Access via DNS</h5>
    {{developer.dns}}
  </div>
  <div class="card card-body">
    <h5 class="card-title">Access via http (json)</h5>
    {{developer.api}}
  </div>
  <div class="card card-body">
    <h5 class="card-title">Access via dat</h5>
    {{developer.dat}}<br/>
    version: {{developer.datVersion}}
  </div>
  {{#hasGeojson}}
  <div class="card card-body">
    <h5 class="card-title">Raw GeoJson</h5>
    <pre>{{{geo.geojson}}}</pre>
  </div>
  {{/hasGeojson}}
</div>
